@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    margin: 0%;
    width: 100%;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Mukta', sans-serif;
    font-size: large;
    background-image: url(../Todo/login\ bg.jpg);
    background-repeat: repeat;
     background-attachment: fixed;
    background-size: cover;
}
.navbar{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgba(95, 158, 160, 0.089);
    height: 60px;
    width: 100%;
}
.nav-wrapper li{
    display: inline-block;
    margin: 0px 20px;
    list-style: none;
}
.a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.logo{
    margin: 0px 20px;
    color: white;
    text-decoration: none;
    font-size: larger;
}
.form-div{
    background-color: rgba(56, 94, 109, 0.473);
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    backdrop-filter: blur(20px);
    z-index: -1;
    border-radius: 10px; 
   
}

#user-details-form{
    /* background-color: rgba(56, 94, 109, 0.473); */
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 70%;
    left: 52%;
    transform: translate(-50%,-50%);
    margin: 0%;
    
}
input{
    
    width: 320px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid rgba(245, 222, 179, 0.637);
    border-radius: 5px;
   
}
.div2 {
    margin-bottom: 20px; /* Adjust this value as needed to decrease the space */
}

.labels{
    color:rgb(255, 255, 255);
}
.labels:hover{
    color:rgb(197, 135, 255);
}
input:focus{
    outline: none;
    border-color:blueviolet;
    box-shadow: 0px 0px 5px rgba(0, 255, 255, 0.377);
    color: wheat;
}
input::placeholder{
    color: rgba(245, 222, 179, 0.397);
}
.btn{
    position: relative;
    top:-15px;
    width: 130px;
    height:30px ;
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.226);
    background-color:rgba(143, 0, 209, 0.384);
    backdrop-filter: blur(200px);
    color: white;
    z-index: 1;
    overflow: hidden;
   font-size: 15px;
   font-weight: 5500;
}
.btn::before,
.btn::after {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255); /* Use your preferred color */
    width: 0%;
    height: 100%;
    transition: 0.2s ease-in-out;
    z-index: -1;
}
.btn::before {
    left: 50%;
    top: 0%;
}
.btn::after {
    right: 50%;
    top: 0%;
}
.btn:hover::before,
.btn:hover::after {
    width: 50%; /* Expand from the center to both sides */
}
.btn:hover{
    color: blueviolet;
    transition: 0.3s;
    font-weight: bolder;
}
.nav-wrapper li a {
    position: relative;
    text-decoration: none;
  }
  .nav-wrapper li a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background:rgb(88, 0, 170); /* Adjust colors as needed */
    z-index: -1;
    transition: width 0.3s ease-in-out;
  }
  
  .nav-wrapper li a:hover::before {
    width: 100%;
  }

.error{
    border: 1px solid red;
    box-shadow: 0px 0px 5px red;
}
#closedEye1{
    color: rgba(255, 255, 255, 0.432);
    position: relative;
    left:-35px;
    top:2px;
    margin: 0%;
    padding: 0%;
    font-size: 15px;
    
}
#closedEye2{
    color: rgba(255, 255, 255, 0.432);
    position: relative;
    left:-35px;
    top:2px;
    margin: 0%;
    padding: 0%;
    font-size: 15px;
}
.prompt{
    background-color: rgba(255, 255, 255, 0.24);
    width: 320px;
    height: 100px;
    position: relative;
    border-radius: 5px;
    top: -100px;
    left: 0px;
}
p{
    margin: 0%;
    padding: -10px;
    margin-left: 5px;
    color: white;
    
}
#passwordSpan{
    font-size:3px;
    margin: 0%;
    padding:0px;
    font-size: 12px; 
}
