  @import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    margin: 0%;
    width: 100%;
  height:100svh;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    font-family: 'Mukta', sans-serif;
    font-size: large;
    background-image: url(./login\ bg.jpg);
    background-repeat: no-repeat;
   background-attachment: fixed;
    background-size: cover;
}
.navbar{
    background-color: rgba(95, 158, 160, 0.089);
    height: 60px;
    display: block;
    width: 100%;
}

.nav-wrapper{
    list-style: none;
    margin: 0;
    padding: 0px;
    display: flex; 
    align-items: center;
    justify-content:space-between;
   
}
.brand-logo{
    margin: 0%;
    padding: 0px 20px;
}
.nav-wrapper li{
    color: white;
    display: inline-block;
    padding: 0px 30px;
}

/* Add this CSS to homepage.css */
label {
    margin:0px;
}



.a:hover{
    text-decoration: none;
    
    margin: 0%;
}
.logo{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 25px;
    padding-left: 30px;
    padding-bottom: 5px;
}
.a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 25px;
    position: relative;
    /* display: inline-block; */
    overflow: hidden;
}

.a::after{
    content:"";
    background-color: red;
    height: 5px;
    width: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 0.3s ease-in-out;
    
}
.a:hover::after{
   width: 100%;
  
}


.form-div{
    background-color: rgba(56, 94, 109, 0.473);
    width: 500px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
}

.gender-type{
    width: 15px;
    cursor: pointer;
    position: relative;
    top: 8px;
    
    
}
.gender-box{
    color:rgb(255, 255, 255);
}
input{
    margin: 0%;
    width: 400px;
    height: 25px;
    background-color: rgba(255, 255, 255, 0.068);
    border: 1px solid rgba(245, 222, 179, 0.637);
    border-radius: 5px;
}
.detailes{
    color:rgb(255, 255, 255);
}
.btn {
    width: 150px;
    height: 30px;
    position: relative;
    top: -13px;
    left: 120px;
    border-radius: 5px;
    border: 0px;
    z-index: 1;
    overflow: hidden;
    font-weight: bolder;
   
}

.btn::after {
    content: "";
    background-color: rgb(255, 0, 0);
    position: absolute;
    bottom:0%;
    left: 0%;
    height: 30px;
    width: 0%;
    transition: 0.3s;
    z-index: -1;
}

.btn:hover::after {
    /* content: "";
    background-color: blueviolet;
    width: 100%;
    height: 30px;
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 30px;
    transition:  0.3s ease;  */
    width:100%;
}
input:focus {
    outline: none; /* Remove the default focus outline */
    border-color: rgb(0, 195, 255); /* Set the border color when focused */
    box-shadow: 0 0 5px  rgb(0, 195, 255, 0.5) ; /* Optional: Add a box shadow for emphasis */
    color:rgb(243, 243, 243);
}
.checkedFileds{
    outline: none;
    border: 2px rgb(51, 255, 0) ;
    box-shadow: 0px 0px 5px rgb(51,255,0.5);
}

.error{
    border: 1px solid rgb(255, 29, 29);
}
.noterror{
    border: 1px solid greenyellow;
}

#errorSpan-password{
    color: white;
    display: block;
    font-size: smaller;
}

#closedEye1{
    color: rgba(255, 255, 255, 0.432);
    position: relative;
    left:-40px;
    top:3px
    
}
#closedEye2{
    color: rgba(255, 255, 255, 0.432);
    position: relative;
    left:-40px;
    top:3px
}
@media screen and (max-width:380px) {
    body{
/*         width: 150%; */
        height: 620px; 
        background-color:white;
      
    }
    .form-div{
      display: flex;
      flex-wrap: wrap;
      position: absolute;
      top: 60%;
      left:100%;
      transform: translate(-50%,-50%);
      background-color: black; 

    }
    
}



