@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
body{
    margin: 0%;
    width: 100%;
    height:100svh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-family: 'Mukta', sans-serif;
    font-size: large;
    background-image: url(./login\ bg.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
     background-attachment: fixed;
    background-size: cover;
   
    
}
.random{
    position: absolute;
    background-color: rgba(255, 255, 255, 0.233);
    color: aliceblue;
    height: 70px;
}
.navbar{
    background-color: rgba(95, 158, 160, 0.089);
    height: 70px;
    backdrop-filter: blur(2px);
  
    position: absolute;
    width: 100%;
}
.navbar .nav-wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   list-style: none;
}


#nav-mobile li {
    color:red;
    display: inline-block; /* Display list items horizontally */
    margin-right: 25px; /* Add some spacing between list items */
    
   
}
.a{
    text-decoration: none;
    color: white;
    width: 100px;
    height: 25px;
    position: relative;
    /* display: inline-block; */
    overflow: hidden;
}

.a::after{
    content:"";
    background-color:blueviolet;
    height: 5px;
    width: 0px;
    position: absolute;
    left: 0px;
    bottom: 0px;
    transition: 0.3s ease-in-out;
    
}
.a:hover::after{
   width: 100%;
  
}


.form-div{
    background-color: rgba(56, 94, 109, 0.473);
    width: 500px;
    height: 540px;
    display: flex;
    justify-content: center;
    align-items:center ;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    
}
.logo{
    color: wheat;
    text-decoration: none;
    font-size: large;
    letter-spacing: 2px;
    font-style: bold; 
    padding-left: 20px;
}
.box{
    background-color: rgba(95, 158, 160, 0.486);
    width: 800px;
    height: 270px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* z-index: 1; */
    backdrop-filter: blur(2px);
    
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin: 0;
    padding: 0;
}

#header{
    position: absolute;
    top: 33%;
    left: 50%;   
    transform: translate(-50%,-50%);
    background-color: blueviolet;
    width: 800px;
    text-align: center;
    backdrop-filter: blur(2px);
    /* -webkit-backdrop-filter: blur(2px); */
}



.data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%,-50%);
    
}
.data2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.data3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%,-50%);
    
}
    
.fields {
    margin: 0;
    font-size: larger;
}

.space {
    margin: 0 ;
    font-size: larger;
    
}
.formData{
    margin: 0;
    font-size: larger;
    color: white;
}


